.menu {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0.5rem;
}

.menu-item {
  color: #333;
  text-decoration: none;
}

.menu-item:hover {
  color: #6f42c1;
}
